<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Listeners.Listener"></listener>
        <listener class-name="reporting.Listeners.AnnotationTransformer"></listener>
    </listeners>
    <parameter name="browser" value="chrome"></parameter>
    <test name="SeleniumPagefactoryFramework">
        <classes>

            <class name="login.LoginTest">
                <methods>
                    <include name="VerifyinvalidSignin"/>
                    <include name="VerifyValidSignin"/>
                    <include name="VerifyValidSigninWithLogOut"/>
                    <include name="VerifyInvalidCreateAccount"/>
                    <include name="VerifyInvalidSignUpAccount"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>